@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #F5F5F8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'poppinsbold';
  src: url('../../public/font/poppins-bold-webfont.woff2') format('woff2'),
       url('../../public/font/poppins-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NunitoBold';
  src: url('../../public/font/Nunito-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NunitoSemiBold';
  src: url('../../public/font/Nunito-SemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

.main_header{
  font-family: 'poppinsbold';
  font-size: 56px;
  font-weight: 700;
  text-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
  width: 800px;
  text-align: center;
  line-height: 55px;

}

.content__wrap{
  width: 1372px;
  max-width: 1372px;
  margin-top: 40px;
  margin-bottom: 80px;
}

.content_item__wrap{
  width: 437px;
  max-width: 437px;
  height: 336px;
  max-height: 332px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
  border-radius: 8px;  
  overflow: hidden;
  display: flex;
}

.mt-6{
  margin-top: 3px;
}

.content_item_image__container{
  width: 183px;
  max-width: 183px;
}

.content_item_description__container{
  width: 200px;
  max-width: 200px;
  margin: 40px auto;
  height: 200px;
  font-size: 15px;
}

.content_item_description__title{
  font-family: "poppinsbold";
  font-size: 24px;
  width: 200px;
  max-width: 200px;
}

.content_item_description__list li{
  line-height: 26px;
  list-style-type: none;
  font-family: "NunitoBold";
}

li:before {
  font-weight: 400;
  color: #D2AD81;
  content: "•";
  font-size: 22px;
  padding-right: 7px; 
 }

.content_item_description__text{
  line-height: 24px;
  font-family: "NunitoSemiBold";
}

.main_button_wrap{
  display: flex;
  margin: 80px auto;
  width: 350px;
  height: 60px;
}

.main_button{
  width: 350px;
  height: 60px;
  border-radius: 12px;
  text-transform: uppercase;
  font-family: "poppinsbold";
  font-size: 17px;
  letter-spacing: 3px;
}



body {

  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.content_item_image__container{
  margin-left: -1px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
